# --- Dependencies (Ignore in all folders) ---
node_modules/
*/node_modules/

# --- Environment Variables (Secrets) ---
.env
*/.env
.env.local
*/.env.local
#for ignoring any .env file in that folder or subfolder we use the wildcard *

# --- Build Outputs ---
dist/
build/
*/dist/
*/build/

# --- System Files ---
.DS_Store

# text files
.txt
frontend/src/context/.txt
